doctype html
html
    head
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(charset="utf-8")

        link(href="stylesheets/robot_nao.css" type="text/css" rel="stylesheet")
        link(href="stylesheets/ladda/ladda-themeless.min.css" type="text/css" rel="stylesheet")

        title Settings

    body.bodyBackground

        div#mainWrapper
            span#heading Settings
            div#settingsStorageDiv.hidden #{settings}
            div #{settings}

    script(src="javascript/jquery/jquery-2.1.0.min.js" type="text/javascript")<!-- jQuery-- >
    script(src="javascript/robot_nao_utils.js" type="text/javascript")<!-- Watson Team JS-- >
